@font-face {
    font-family: iransans;
    src: url('fonts/IRANSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:estedad;
    src: url('../fonts/Estedad-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: estedad;
    direction: rtl;
    background-color: #040d21;
    background-image: linear-gradient(to bottom , #052569, #040d21, #040d21, #052569);
}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

/* ::-webkit-scrollbar {
    width: 20px !important;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #049dcc;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0 0 0 / 20%);
} */


/* start of base styles */


/* header style */


#menu {
    position: static;
    width: 100%;
    font-family: estedad;
    padding: 30px 20px;
}
#menu a {
    font-size:18px;
    display: block;
    color: white;
    padding: 10px 20px;
}
#menu a:hover {
    color: #2eb9e5;
    transition: 0.3s;
}
#menu a.active {
    color: #2eb9e5;
    text-shadow: 0 0 5px #2eb9e5;
}
#menu .item {
    float: right;
}    
#menu li:hover > ul {
    display: block !important;
}
#menu .submenu {
    display: none;
    width: 180px;
    position: absolute;
    box-shadow: 0 0 7px #2eb9e5;
    border: 2px solid #2eb9e5;
    border-radius: 0 0 5px 5px ;
    background-color: rgba(4, 13, 33, 0.7);
    z-index:1;
    line-height:250%;
}
#menu .submenu a {
    padding-right: 30px;
    font-size: 16px;
}
#menu .subitem {
    position: relative;   
}
#menu .subitem a {
    padding: 0 15px !important;
}   
#menu .subitem a:hover {
   color: white;
   background-color: #2eb9e5;
   box-shadow: 0 0 5px #2eb9e5;
}  


/* footer style */

footer{
    padding: 40px 0 60px 0; 
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-family: estedad;
}
#footer-logo{
    padding-top: 30px;
    text-align: center;
}
.footer-column{
    padding:0 60px;
}
.footer-column h3{
    color: rgba(255, 255, 255, 0.6);
    padding: 30px 0;
}
.footer-column li{
    color: rgba(255, 255, 255, 0.4);
    line-height: 40px;
    list-style-type: disc;
}
.media{
    opacity: 70%;
    margin: 2px;
}
img.media:hover{
    box-shadow: 0 0 7px #2eb9e5;
    opacity: 100%;
    border-radius: 20px;
}
#copy-right{
    padding: 100px 0 20px 0;
}
#copy-right p{
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    direction: ltr;
}

/* Scroll Back To Top Button style*/
#TopBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: #049dcc;
    box-shadow: 0 0 7px #2eb9e5;
    color: white;
    cursor: pointer;
    padding: 10px 14px;
    border-radius: 50%;
}
  
#TopBtn:hover {
    opacity: 70%;
    transition: 0.3s;
}

/* end of base styles */




/* start of home styles */


/* header style */

#header{
    background-image: url('../pic/wave.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    height: 100%;
    
}

#header h1{
    padding: 30px 0;
    color: rgba(255, 255, 255, 0.8);
    text-align: justify;
}
#header p{
    font-size: 22px;
    line-height: 40px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.6);
}
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 2px solid   #98e3fa;
    box-shadow: 0 0 12px #2eb9e5;
    float: left;
    width: 85%;
    background: white;
}
form.search input[type=text]:focus{
    border: 2px solid  #2eb9e5;
} 
form.search button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #049dcc;
    border: 2px solid   #98e3fa;
    box-shadow: 0 0 12px #2eb9e5;
    color: white;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
}
  
form.search button:hover {
    background: #27b8e4;
}
  
form.search::after {
    content: "";
    clear: both;
    display: table;
}

/* articles style */

#articles{
    padding: 0 100px 100px 100px;
}
.article img{ 
    border: 2px solid   #98e3fa;
    box-shadow: 0 0 12px #2eb9e5;
    margin: 20px;
    height: 500px;
}
.article img:hover{
    background-color: #000000;
    opacity: 0.2;
    }

/* pagination style */

.pagination{
    direction: ltr;
    display: block;
    text-align: center;
    margin: 150px auto;
}
.pagination a{
    color: rgba(255, 255, 255, 0.8);
    padding: 8px 17px;
}
.pagination a.active {
    background-color: #049dcc;
    box-shadow: 0 0 7px #2eb9e5;
    border-radius: 25px;
}
.pagination a:hover:not(.active){ color: #2eb9e5;}

/* end of home styles */



/* start of post_detail styles */

.post-entry{
    direction: ltr;
    box-shadow: 0 0 7px #2eb9e5;
    border: 2px solid #2eb9e5;
    border-radius: 5px;
    margin: 150px auto;
    padding: 80px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 45px;
}

#detail{
    padding: 50px 0;
}
#detail h1, span{
    color: rgba(255, 255, 255, 0.8);
}
#cover img{
    vertical-align: middle;
    border-radius: 5px;
}
.star{
    color: #049dcc;
    margin: 20px 0;
    font-size: 20px;
}
.tagicon{
    background-color: #049dcc;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 10px;
    vertical-align: middle;
}
.tag{
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    font-size: 13px;
    padding: 3px 10px;
}
span.tag:hover{
    color: rgba(255, 255, 255, 0.8);
    background-color: #049dcc;
    border-color: #049dcc;
    cursor: pointer;
}

/* end of post_detail styles */





 







/* ------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 720px) {

}

/* ------------------------------------------------------------------------------------------------------------------------------- */


    


/* ------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 1140px) {
    main > div{
        display:flex;
    }
    main > div > div{
        order:2;
    }
}






