{% extends 'base.html' %}
<!-- {% load static %} -->
{% block content %}

    <div id="articles" class="col-md-12">
    {% for post in post %}
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="article">
                <h2><a href="{% url 'post_detail' post.pk %}">{{post.title}}</a></h2>
            </div>
        </div>
    {% endfor %}
    </div>

    <br>
    <br>

    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
    <!-- <div class="pagination">
        <span class="step-links">
            {% if post.has_next %}
                <a class="previousnext" href="?page={{post.next_page_number}}">&#8249</a>
            {% endif %}
            
            
            <span class="current">
                &nbsp; Page {{ post.number }} of {{ post.paginator.num_pages }} &nbsp;
            </span>

            {% if post.has_previous %}
                <a class="previousnext" href="?page={{post.previous_page_number}}">&#8250</a>
            {% endif %}
        </span>
    </div>        -->


    <!-- {% url 'home' %}?page={{page_obj.previous_page_number}} -->
    <!-- {% url 'home' %}?page={{page_obj.next_page_number}} -->



    <!-- <div class="pagination">
        <span class="step-links">
            {% if 'page_obj.has_previous' %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if 'page_obj.has_next' %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div> -->








    <!-- <div class="pagination">
        
      {% if page_obj.has_previous %}
        <a class="btn btn-primary float-right" href="#">new posts &rarr;</a>
      {% endif %}


      {% if page_obj.has_next %}
        <a class="btn btn-primary float-right" href="#">old posts &larr;</a>
      {% endif %}
        
    </div> -->

{% endblock content %}

